.profile_page {
    ul{
        margin: 150px auto;

        
        li {
            font-size: 25px;
            text-decoration: none;
            padding: 10px;
            flex-direction: row;
            background: white;
        }
    }
}