

header {
    position: absolute;
    top: 0px;
    width: 100%;
    left: 0;
    
      
  }
  .signin ul {
      
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:purple;
    
    
  }
  ul  {
    
      position: absolute;
      top: 0px;
      width: 100%;
      left: 0
  }
  
  li {
    
    float: left;
    
  }
   
  li a {
    
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }
  
  li a:hover {
    
    background-color: #111;
  
  
    
  }
  
  .signin {
      background-image: url("hands.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size:cover;
      background-color: #cccccc;
      
     
     }
  
     .title {
      
      text-shadow: 3px 2px black;
      
      
      
  }
  .signin_description {
    background: rgba(255,255,255,0.8);
      padding: 7%;
      padding-bottom: 40%;
      max-width: 60%;
      margin: 0 auto;
      border-radius: 25px;
      margin-top: 75px;
      box-shadow: 5px 10px #888888;
      text-align: center;
      
  }
  .app-container {
    margin-top: 3.5%;
    height: 100%;
    width: 100%;
  }
  
  .btn {
    position: absolute;  
    height:50px; 
    width:100px; 
   
  }

  @media only screen and (min-width: 600px) {

    .btn {

    // margin: 175px 150px; 
    top: 77%; 
    left:46%;


    }

    .signin {

      height: 1100px;
    }

    .title {

      margin-left: 42%;
    }


  }

  @media only screen and (max-width: 600px) {

    .signin_description {

      font-size: 18px;

    }

    .btn {
      top: 32rem;
      left: 39%;
      width: 80px;
      height: 40px;
      
    }

    .signin {

      height: 830px;
    }

    .title {

      margin-left: 29%;
    }
    


  }
