

.Detail_info  {
    background-color: lightcyan;
    width: 100%;
    height: 1000px;
    background-size: cover;
   
  

    .post_box {


        .post_info {
            background: rgba(255,255,255,0.8);
              padding: 5%;
              max-width: 50%;
              height: 50%;
              margin: 0 auto;
              border-radius: 25px;
              border-radius: 25px;
              box-shadow: 5px 10px #888888;
        
            

            .postImage {

              width: 200px;
            }

            .btn-group float-left {
                margin: 0;
                padding-left: 5%; 
            }

            .back {
               margin: 0;
               padding-left: 10%; 
            }
             
              }
          }
        
        

    }

    .comment_box {
      background: rgba(255,255,255,0.8);
      padding: 2%;
      max-width: 60%;
      margin: 0 auto;
      border-radius: 25px;
      margin-top: 56px;
      box-shadow: 5px 10px #888888;
    }
