.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: purple; 
    height: 50px;
    z-index: 1000; 

    .nav_bar {
        display: flex;
        height: 100%;
        align-items: center;
        padding: 0 1rem;   

        .nav_logo {
            margin-left: 1rem; 

            a{
                color: White;
                text-decoration: none;
                font-size: 25px;

                &:hover{
                    color: orange;

                }

                &:active{
                    color: orange;
                }
            }
        
        }

        .nav_items {

            ul{
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                position: relative;
              
            }
            li{
                padding: 0 0.5rem;
            }
            a{
                color: white;
                text-decoration: none;

                &:hover{
                    color: orange;

                }

                &:active{
                    color: orange;
                }
            }

        
        }
    }


}

.spacer {
    flex: 1;
}


.logout-button {
    color: white;
    text-decoration: none; 
    background: transparent;  
    border: none;
}

